@import "bootstrap-icons";

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    /* border: 1px solid red; */
}

*::-webkit-scrollbar {
    width: 5px;
    cursor: pointer;

}

*::-webkit-scrollbar-thumb {
    background-color: rgba(139, 139, 139, 0.342);
    border-radius: .5rem;
}

body {
    font-family: 'Kantumruy Pro', sans-serif;
}

[x-cloak] {
    display: none;
}

.no-scroll::-webkit-scrollbar {
    width: 0;
}

.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
    0% {
        stroke: rgb(0, 255, 179);
    }

    14.285714286% {
        stroke: rgb(0, 255, 234);
    }

    28.571428572% {
        stroke: rgb(0, 132, 255);
    }

    42.857142858% {
        stroke: rgb(0, 66, 128);
    }

    57.142857144% {
        stroke: blue;
    }

    71.42857143% {
        stroke: rgb(24, 0, 130);
    }

    100% {
        stroke: rgb(153, 130, 238);
    }
}

@keyframes colors {
    0% {
        stroke: rgb(0, 153, 255);
    }

    14.285714286% {
        stroke: rgb(0, 255, 234);
    }

    28.571428572% {
        stroke: rgb(0, 132, 255);
    }

    42.857142858% {
        stroke: rgb(0, 66, 128);
    }

    57.142857144% {
        stroke: blue;
    }

    71.42857143% {
        stroke: rgb(24, 0, 130);
    }

    100% {
        stroke: rgb(153, 130, 238);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}
